body {
  font-family: Arial, sans-serif;
  padding: 1em;
  background: black url("../media/earth.jpg") no-repeat fixed 50% -80%; 
  overflow: hidden;
  width: 100%
}

section {
  padding: 1em 0;
  color: #f1f1f1;
}

table {
  border-collapse: collapse;
  margin-left:30%; 
  margin-right:center;
  outline: white;
  
}

th {
  padding: 0 0.1em;
  text-align: center;
}

tr {
  border-bottom: solid 1px #d3d3d3;
  line-height: 1.75;
  text-align: center;
}

td {
  text-align: center;
  padding: 0 0.5em;
  background-color: black;
}

.high {
  background-color: steelblue;
}