body {
    /* ref: https://fonts.google.com/specimen/Source+Sans+Pro?selection.family=Source+Sans+Pro */
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    padding: 1em 3em;
    background: black url("../media/eclipse.jpeg") no-repeat fixed 0% 0%; 
    overflow: hidden;
    width: 100%
      }
  
  .label {
    fill: white;
    text-anchor: middle;
  }
  
  .axis {
    font-size: 10px;
  }