body { 
    background: black url("../media/milkyway.mp4") no-repeat fixed center; 
    overflow: hidden;
    width: 100%
  }

  /* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }
  
  /*Add some content at the bottom of the video/page */
  .content {
    position: fixed;
    top: 35%;
    left: 80%;
  /* bring your own prefixes */
    transform: translate(-40%, -40%);
    bottom: auto;
    /*background: rgba(0, 0, 0, 0.5);*/
    color: #f1f1f1;
    width: 100%;

  }
