body {
  font-family: Arial, sans-serif;
  padding: 1em;
  background: black url("sky.jpg") no-repeat fixed; 
  background-size: 100%;
  overflow: hidden;
  width: 100%
}
  
  .dot {
    cursor: pointer;
    color: steelblue;
    opacity: 0.5;
  }
  
  .dot:hover {
    fill: goldenrod;
  }
  
  .axis-label {
    font-size: 14px;
    fill: black;
    text-anchor: middle;
  }
  
  .trend {
    fill: black;
    fill-opacity: 0;
    stroke: whitesmoke;
    stroke-width: 2;
  }

  path.state {
    stroke: white;
    stroke-width: 1;
    stroke-opacity: 0.5;
  }

  div.tooltip {   
   position: absolute;           
   text-align: center; 
   left: 150px;          
   width: 100px;                  
   height: 28px;                 
   padding: 2px;             
   font: 12px sans-serif;        
   background:none;   
   border: 0px;      
   border-radius: 8px;           
   pointer-events: none;         
}